
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

body {
  margin: 0;
  width: 100vw;
  background-image: url('https://cdn3.vectorstock.com/i/1000x1000/39/62/seamless-background-with-mobile-phones-vector-5933962.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
